{% extends 'base.html' %}

{% block title %}Hapus Laporan{% endblock %}

{% block content %}

<div class="card shadow-sm">
    <div class="card-body">

        <h3 class="text-danger">⚠️ Hapus Laporan</h3>
        <p class="mt-3">Apakah Anda yakin ingin menghapus laporan ini?</p>

        <hr>

        <p><strong>Judul:</strong> {{ object.title }}</p>
        <p><strong>Kategori:</strong> {{ object.category }}</p>
        <p><strong>Lokasi:</strong> {{ object.location }}</p>

        <form method="POST" class="mt-3">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger"
                onclick="return confirm('Yakin ingin menghapus laporan ini?')">
                Ya, Hapus
            </button>

            <a href="{% url 'home' %}" class="btn btn-secondary">
                Batal
            </a>
        </form>

    </div>
</div>

{% endblock %}